.comments-section {
  margin-top: 16px;
}

.comment {
  position: relative;
  padding: 8px 0;
}

.comment-text {
  margin-top: 4px;
}

.delete-button{
  position: absolute !important;
  top: 8px;
  right: 8px;
  color: #ff0000 !important;
}

.user-link {
  margin-left: 4px;
  font-weight: 500;
}